<%- include('./layout/header.ejs')-%>
<% currentPage = 'Order Status' %>
<link rel="stylesheet" href="/assets/css/adminSidePagination.css">
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
    <%- include('./layout/sideBar.ejs') -%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="row">
             
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Order Status</h4>
                      <p class="text-muted mb-1"></p>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                          <!---->
                         
                          <div class="table-responsive ">

            
                            <table class="table">
                              <thead>
                                <tr>
                                  
                                  <th>Order No</th>
                                  <th>Client Name</th>
                                  <th> Product Cost </th>
                                  <th> Start Date </th>
                                  <th> Payment Mode </th>
                                  <th>Product</th>
                                  <th> Status </th>
                                  <th> Payment Status </th>
                                </tr>
                              </thead>
                              <tbody>
                                <% if(orderData !==null && orderData!== undefined){%>
                                  <% orderData.forEach((order,index)=>{%>
                                <tr>
                 
                                  <td>
                 
                                    <span class="pl-2"><%= index+1 %></span>
                                  </td>
                                  <td><%= order.address.Fname %></td>
                                  <td> ₹<%= order.Total %></td>
                                  <td><%= order.orderDate.toLocaleDateString(); %></td>
                                  <td> <%=  order.paymentMethod %></td>
                                  <td>
                                    <a href="/admin/adminProductView/?orderId=<%= order._id %>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspview</a>

                                </td>
                                  

                                    <td>
                                      <select  class="form-control selectedOrderStatus" data-order-id="<%= order._id %>" name="orderStatus">
                                      <%if(order.orderStatus !== 'canceled' && order.orderStatus !== 'Deliverd'){%>
                                        <option value="<%= order.ordersStatus %>"><%= order.orderStatus %></option>
                                        <option value="Packed">Packed</option>
                                        <option value="Shipping">Shipping</option>
                                        <option value="Deliverd">Deliverd</option>
                                        <%}else{%>
                                          <option  value="<%= order.ordersStatus %>"><%= order.orderStatus %></option>
                                          <%}  
                                        %>
                                    </select>
                                    
                                    </td>
                                  <td>
                                    <div class="<%= order.paymentStatus ==='Approved' ? 'badge badge-outline-success' : 'badge badge-outline-warning' %> "><%= order.paymentStatus %></div>
                                  </td>
                                </tr>
                
                                <%})%>
                            
                                <%}%>
                              </tbody>
                            </table>
                            
                          </div>
                            
                               
                         
                          
                       
            
                         <!---->

                        </div>
                      </div>
                      <div class="pagination mx-auto">
                        <% if (currentPage > 1) { %>
                          <a href="?page=<%= currentPage - 1 %>" class="pagination__arrow pagination__arrow--left ">
                            <span class="pagination__arrow-half "><i class="fa-solid fa-chevron-left"></i></span>
                            <span class="pagination__arrow-half "></span>
                          </a>
                        <% } %>
                        
                        <span class="pagination__number-indicator"></span>
                        
                        <% for (let i = 1; i <= totalPages; i++) { %> 
                          <a href="?page=<%= i %>" class="pagination__number <%= i === currentPage ? 'pagination__number--active' : '' %>">
                            <%= i %>
                          </a>
                        <% } %>
                        
                        <% if (currentPage < totalPages) { %>
                          <a href="?page=<%= currentPage + 1 %>" class="pagination__arrow pagination__arrow--right">
                            <span class="pagination__arrow-half"></span>
                            <span class="pagination__arrow-half"><i class="fa-solid fa-chevron-left"></i></span>
                          </a>
                        <% } %>
                      </div>
                      
                      
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
           
     

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      jQuery.noConflict();
      (function ($) {
        document.querySelectorAll('.selectedOrderStatus').forEach(function (element) {
          element.addEventListener('change', function () {
            var selectedValue = this.value;
            var orderId =this.getAttribute('data-order-id')
            $.ajax({
              type: 'GET',
              url: `/admin/adminOrder/selectedValue/${selectedValue}/orderId/${orderId}`,
              success: function (data) {
                window.location.reload();
    console.log('AJAX request successful', data);
  },
            });
          });
        });
      })(jQuery);
    </script>
    <script src="/assets/js/pagination.js"></script>


    <%- include('./layout/footer.ejs')-%>