<%- include('./layout/header.ejs')-%>
<% currentPage = 'Coupon' %>
<link rel="stylesheet" href="/assets/css/adminSidePagination.css">
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
    <%- include('./layout/sideBar.ejs') -%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="row">
             
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Order Status</h4>
                      <p class="text-muted mb-1"></p>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                          <!---->
                         
                          <div class="table-responsive ">

            
                            <table class="table">
                              <thead>
                                <tr>
                                  
                                  <th>No</th>
                                  <th>Coupon Name</th>
                                  <th> Coupon Code </th>
                                  <th> Active Date</th>
                                  <th> Expire Date</th>
                                  <th> Creteria</th>
                                  <th> Discount Amout</th>
                                  <th> Status </th>
                                  <th> <div class="badge badge-outline-success"  id="addCouponLink" style="color:rgba(107, 235, 164, 1); " >Add</div></th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <% if (coupons !== null && coupons !== undefined) { %>
                                  <% coupons.forEach((coupon,index) => { %>
                                <tr>
                                   
                                      
                                            <td><%= index+1 %></td>
                                            <td><%=coupon.couponName %></td>
                                            <td><%=coupon.couponCode %></td>
                                            <td><%= coupon.ActiveDate.toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'medium' }) %></td>
                                            <td><%= coupon.ExpireDate.toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'medium' }) %></td>
                                            <td><%= coupon.Creteria %></td>
                                            <td><%= coupon.discountAmount %></td>
                                            <td><%=coupon.couponStatus %></td>
                                            <td></td>
                                     
                                   
                                </tr>
                                <% }); %>
                                <% } %>
                              </tbody>
                            </table>

                             <!-- Add Coupon Form -->
        <div class="add-form"  >
            <form method="POST" action="/admin/addCoupon" id="couponForm">
                <div class="form-group">
                  <label>Coupon Name</label>
                  <input type="text" id="couponName" name="couponName" class="form-control p_input">
                  <% if(errors && errors.couponName){ %>
                    <p style="color: tomato;"><%=errors.couponName %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <label >Coupon Code</label>
                  <input type="text" id="couponCode" name="couponCode" class="form-control p_input">
                  <% if(errors && errors.couponCode){ %>
                    <p style="color: tomato;"><%= errors.couponCode %></p>
                  <% } else if(couponCodeExist !== null && couponCodeExist !== undefined) { %>
                    <p style="color: tomato;"><%= couponCodeExist %></p>
                  <% } %>
                </div>
                 
                <div class="form-group">
                    <label >Active Date</label>
                    <input type="date" id="ActiveDate" name="ActiveDate" class="form-control p_input">
                    <% if(errors && errors.ActiveDate){ %>
                        <p style="color: tomato;"><%=errors.ActiveDate %></p>
                      <% } %>
                  </div>

                  <div class="form-group">
                    <label >Expire Date</label>
                    <input type="date" id="ExpireDate" name="ExpireDate" class="form-control p_input">
                    <% if(errors && errors.ExpireDate){ %>
                        <p style="color: tomato;"><%=errors.ExpireDate %></p>
                      <% } %>
                  </div>

                  <div class="form-group">
                    <label >Creteria</label>
                    <input type="text" id="Creteria" name="Creteria" class="form-control p_input">
                    <% if(errors && errors.Creteria){ %>
                        <p style="color: tomato;"><%=errors.Creteria %></p>
                      <% } %>
                  </div>

                  <div class="form-group">
                    <label >Discount Amount</label>
                    <input type="text" id="discountAmount" name="discountAmount" class="form-control p_input">
                    <% if(errors && errors.discountAmount){ %>
                        <p style="color: tomato;"><%=errors.discountAmount %></p>
                      <% } %>
                  </div>
               
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                </div>
               
               
              </form>




        </div>
                          
    </div>
                            
                               
                               
                       
            
                         <!---->

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pagination mx-auto">
                    <% if (currentPage > 1) { %>
                      <a href="?page=<%= currentPage - 1 %>" class="pagination__arrow pagination__arrow--left ">
                        <span class="pagination__arrow-half "><i class="fa-solid fa-chevron-left"></i></span>
                        <span class="pagination__arrow-half "></span>
                      </a>
                    <% } %>
                    
                    <span class="pagination__number-indicator"></span>
                    
                    <% for (let i = 1; i <= totalPages; i++) { %> 
                      <a href="?page=<%= i %>" class="pagination__number <%= i === currentPage ? 'pagination__number--active' : '' %>">
                        <%= i %>
                      </a>
                    <% } %>
                    
                    <% if (currentPage < totalPages) { %>
                      <a href="?page=<%= currentPage + 1 %>" class="pagination__arrow pagination__arrow--right">
                        <span class="pagination__arrow-half"></span>
                        <span class="pagination__arrow-half"><i class="fa-solid fa-chevron-left"></i></span>
                      </a>
                    <% } %>
                  </div>
                  

                </div>
              </div>
            </div>
           
           


          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your existing HTML code -->

<script>
  
    $(document).ready(function () {
       
        $('#couponForm').hide();

       
        $('#addCouponLink').click(function () {
            $('#couponForm').toggle();
        });
        $('#couponForm').submit(function () {
          
        });
    });
</script>
<script src="/assets/js/pagination.js"></script>
       
    


    <%- include('./layout/footer')-%>