<%- include('./layout/header.ejs')-%>
<% currentPage = 'Banner' %>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
    <%- include('./layout/sideBar.ejs') -%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="row">
             
              <div class="col-md-5 grid-margin stretch-card" id="banners">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Banner</h4>
                      <a href="#" style="color:rgba(107, 235, 164, 1)" class="toggleButton">Add</a>
                      
                    </div>
                    <div class="row">
                      <% if(latestBanner !== null && latestBanner !== undefined){%>
                        <% latestBanner.forEach((banner)=>{%>
                      <div class="col-12">
                        <div class="preview-list">
                          <!---->
                    
                          <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                              <div class="preview-icon bg-info">
                                <img src="/bannerImages/<%= banner.image %>" alt="Banner Image">
                              </div>
                            </div>
                            <div class="preview-item-content d-sm-flex flex-grow">
                              <div class="flex-grow">
                                <h6 class="preview-subject"><%= banner.mainText %></h6>
                                <p class="text-muted mb-0"></p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted"></p>
                                <a href="/admin/deleteBanner/?bannerId=<%= banner._id %>"><i class="text-muted mb-0  fa-solid fa-xmark"></i></a>
                                
                                <p class="text-muted mb-0"></p>
                              </div>
                            </div>
                          </div>
                          
                            



                         
                         <!---->

                        </div>
                      </div>
                      <%})%>
                      <%}%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          

            <div class="col-md-6 grid-margin stretch-card" id="bannerAdd" style="display: none;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Banner</h4>
                  <form class="forms-sample bannerForm"  method="post" action="/admin/addBanner" enctype="multipart/form-data">
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label" >Text</label>
                     
                      <div class="col-sm-9">
                        <input type="text" class="form-control validate" name="subText1"  placeholder="sub Text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Text</label>
                     
                      <div class="col-sm-9">
                        <input type="text" class="form-control validate" name="MainText"   placeholder="Main Text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputMobile" class="col-sm-3 col-form-label">Text</label>
                      
                      <div class="col-sm-9">
                        <input type="text" class="form-control validate" name="subText2"  placeholder="sub Text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Button Text</label>
                     
                      <div class="col-sm-9">
                        <input type="text" class="form-control validate" name="ButtonText"  placeholder="Button Text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Image</label>
                     
                      <div class="col-sm-9">
                        <input type="file" class="form-control" name="image"  >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Page url</label>
                    
                      <div class="col-sm-9">
                        <input type="text" class="form-control validate"  name="url"  placeholder="url">
                      </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark toggleButton">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
       







          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
    
    <script>
    if('<%= bannerAdded %>'){

      const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "success",
      title: "banner added"
    });
    }
    if('<%= bannerDeleted %>'){

      const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "success",
      title: "banner deleted"
    });
    }
    </script>
    
    
    
    
    
    
    <style>
      .validate {
        transition: border-color 0.3s;
      }
    
      .validate-error {
        border-color: red;
      }
    </style>

    <script>
      $(document).ready(() => {
        $('form.bannerForm').submit((event) => {
          event.preventDefault();
    
          async function validationForm() {
            var isValid = true;
    
            $('form.bannerForm input[type="text"]').each(function () {
              const fieldName = $(this).attr("name");
              const inputValue = $(this).val().trim();
    
              if (inputValue === "") {
                isValid = false;
                $(this).attr("placeholder", `${fieldName} is required.`)
          
              } else {
                $(`#${fieldName}-error`).text("");
              }
            });
    
            const imageInput = $('form.bannerForm input[type="file"]');
            const imageFile = imageInput[0].files[0];
    
            if (!imageFile) {
              isValid = false;
              $("#image-error").text("Image is required.");
            } else {
              $("#image-error").text("");
            }
    
            return isValid;
          }
    
          const isFormValid = validationForm();
    
          if (!isFormValid) {
            // Display a general error message or perform other actions
            alert("Please fill in all required fields.");
          } else {
            $('form.bannerForm').unbind('submit').submit();
          }
        });
      });
    </script>

    <script>

      $(document).ready(function() {
        $('.toggleButton').click((e)=>{
          $('#banners').toggle(200)
          $('#bannerAdd').toggle(200)
        })
      });
      </script>
  
    
    <%- include('./layout/footer.ejs')-%>
    