<%- include('./adminHeader.ejs')-%>


<div class="row edit-form-row" >
    <%- include('./adminSidebar.ejs')-%>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Catagory</h4>
       
          <form class="forms-sample" action="https://localhost:3000/admin/add" method="post">
            <div class="form-group">
              <label for="exampleInputUsername1">Catagory Name</label>
              <input type="text" class="form-control" id="catagoryNameInput" placeholder="Catagory name" name="Name" >
            </div>
            <% if (errors) { %>
              <p style="color: tomato;"><%= errors.error %></p>
            <% } %>
           
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <button  type="button" class="btn btn-dark" id="cancelBtn">Cancel</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const cancelBtn = document.getElementById("cancelBtn");
          cancelBtn.addEventListener("click", function() {
              window.location.href = "/admin/catagory"; 
          });
      });

   // const catagoryNameInput = document.getElementById('catagoryNameInput');

    
    //onst errorMessage = '<%= errors %>';

    // catagoryNameInput.placeholder = errorMessage ? `Error: ${errorMessage}` : 'Catagory name';

  </script>
 



<%- include('./adminFooter.ejs')-%> 