<%- include('./indexHeader.ejs')-%>

    <body>
        <div class="page-wrapper">
            <%- include('./indexNavBar2.ejs')-%>
            <div class="div">
        
            </div>

            <main class="main">


                <div class="page-content" id="entireDiv">
                    <div class="cart">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                            <tr>
                                                <th>product Details</th>
                                                <th>Delivery address</th>
                                                <th>OrderDate</th>
                                                <th>Status</th>
                                                <th></th>
                                                <th>Total</th>
                                                <th></th>
                                                
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% if (orderedProducts !== null && orderedProducts !== undefined) { %>
                                                <% orderedProducts.forEach((order) => { %>
                                                    <tr>
                                                        <td>
                                                            <p>product</p>
                                                            <% order.productDetails.forEach((product, index) => { %>
                                                                <%= product.productId.ProductName %>
                                                                <% if (index !== order.productDetails.length - 1) { %>, <% } %>
                                                            <% }) %>
                                                        </td>
                                                        <td class="product-col">
                                                            <h6>Delivery address :</h6>
                                                            <p><%= order.address.Fname %></p>
                                                            <p><%= order.address.Address %> , <%= order.address.Place %> </p>
                                                            <p><%= order.address.state %>, <%= order.address.Pincode %></p>
                                                            <p><%= order.address.PhoneNumber %></p>
                                                        </td>
                                                        <td class="price-col">
                                                            <p><%= order.orderDate.toLocaleDateString(); %></p>
                                                        </td>
                                                        <td class="quantity-col">
                                                            <div class="status-text" data-status="<%= order.orderStatus %>">
                                                                <%= order.orderStatus %>
                                                            </div>
                                                        </td>
                                                        <!-- Other columns as needed -->
                                                        <td></td>
                                                        <td class="total-col amount-" id="total-price">
                                                            <p>$<%= order.Total %></p>
                                                        </td>
                                                        <% if (order.orderStatus === 'Deliverd') { %>
                                                            <td class="remove-col">
                                                                <a href="#" onclick="conformDelete('<%= order._id %>','<%= order.productId %>','<%= order.orderStatus %>')" class="sf-with-ul" style="color: rgb(226, 43, 43); ">Return</a>
                                                            </td>
                                                        <% } else { %>
                                                            <td class="remove-col">
                                                                <a href="#" onclick="conformDelete('<%= order._id %>','<%= order.productId %>','<%= order.orderStatus %>')" class="sf-with-ul" style="color: rgb(226, 43, 43); ">Cancel</a>
                                                            </td>
                                                        <% } %>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                        
                                    </table><!-- End .table table-wishlist -->

                                  
                                </div><!-- End .col-lg-9 -->





                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .cart -->

                </div><!-- End .page-content -->
            </main><!-- End .main -->


            <%- include('indexFooter.ejs')  %>
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
      
        <!-- Sign in / Register Modal -->
        <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon-close"></i></span>
                        </button>

                    </div><!-- End .modal-body -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->


<%- include('navBarMobile.ejs') %>


        
        <!-- Plugins JS File -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>

        <script>
         async  function conformDelete(orderId,productId,orderStatus){
        
                Swal.fire({
  title: "Are you sure?",
  text: "You want to cancel the product",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "cancell the order!",
  cancelButtonText:  "Back"
}).then((result) => {
  if (result.isConfirmed) {

  $.ajax({
    type:'DELETE',
    url:`/orderDetails/detetOrder/${orderId}/?productId=${productId}/?orderStatus=${orderStatus}`,
    success: function(data){
        Swal.fire({
      title: "Canceled!",
      text: "Your order has been deleted.",
      icon: "success"
    });
    window.location.reload();
    },
    error: function (error) {
    Swal.fire({
      title: "Error!",
      text: "An error occurred while deleting.",
      icon: "error"
    });
  }
  })


   
  }
});
            }
        </script>



   <script>
    document.addEventListener('DOMContentLoaded', function (){
        const statusElements = document.querySelectorAll('.status-text')

        statusElements.forEach(function(element){
            const status =element.getAttribute('data-status')
            setColorBasedOnStatus(element,status)
        });
    })

    function setColorBasedOnStatus(element,status){
        switch(status.toLowerCase()){
            case 'active': element.style.color = 'rgba(107, 235, 164, 1)';
            break;
            case 'canceled': element.style.color = 'rgba(245, 37, 37, 1)';
            break;
            default:
                element.style.color = 'black';
                break;
        }
    }
   </script>

