<%- include('./adminHeader.ejs')-%>


<div class="col-12 grid-margin stretch-card">
    
 <%- include('./adminSidebar.ejs')-%>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product add</h4>
        <p class="card-description">  </p>
        <p class="card-description">  </p>
        <form class="forms-sample" action="/productAdd/addProduct" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputName1"> Product Name</label>
            <input type="text" class="form-control" id="exampleInputName1" name="ProductName"  value="<%= product ? product.ProductName : '' %>" placeholder="Product Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Product Price</label>
            <input type="number" class="form-control" id="exampleInputEmail3"  value="<%= product ? product.ProductPrice : '' %>" name="ProductPrice" placeholder="$:0.00" min="1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Product Expense</label>
            <input type="number" class="form-control" id="exampleInputPassword4"  value="<%= product ? product.ProductExpense :'' %>" name="ProductExpense" placeholder="$:0.00" >
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Catagory</label>
            <select class="form-control" id="exampleSelectGender" name="Catagory">
              <% Catagories.forEach(category => { %>
                <option value="<%= category.name %>"><%= category.name %></option>
            <% }); %>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Product Count</label>
            <input style="width: 10%;" type="number" class="form-control" id="exampleInputPassword4"  value="<%= product ? product.ProductCount :'1' %>" name="ProductCount"  min="1">
          </div>
          <div class="form-group" >
            <label>Image upload</label>
           <!-- <ul id="imgView"></ul> -->
            <div class="existing-images row">
              <% if (product && product.images && product.images.length > 0) { %>
                  <% product.images.forEach((image, index) => { %>
                      <div class="col-md-2 mb-3">
                          <div class="existing-image " >
                              <img  style="height: 200px;" src="<%= image ? image : '' %>" alt="Product Image" class="img-fluid" ><br>
                              <input type="checkbox" name="removedImages" value="<%=image%>"> Remove
                          </div>
                      </div>
                  <% }); %>
              <% } %>
          </div>
          
           
                
               

            <div class="input-group col-xs-12" style="width: 50%;" >
              <input  style="background: none;" type="file" id="imageInput" name="images[]" class="file-upload-default" multiple onchange="viewImage(event)">
        
             <input  type="file" class="form-control"  id="imageInput" placeholder="Upload Image" name="images" class="file-upload-default" multiple  onchange="viewImage(event)">
              <span class="input-group-append">
                
              </span>
            </div> 
          </div>
        
          <div class="form-group">
            <label for="exampleTextarea1">Product Discription</label>
            <textarea class="form-control" id="exampleTextarea1" name="ProductDiscription"  value="<%= product ? product.ProductDiscription : '' %>" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button type="button" class="btn btn-dark  " id="cancelBtn">Cancel</button>
        </form>
         
        
        
      </div>
    </div>

<script>
  function viewImage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files)
  }
</script>


  <script>
 document.addEventListener('DOMContentLoaded', function(){
  const cancelBtn = document.getElementById('cancelBtn')
  cancelBtn.addEventListener('click', function(){
    window.location.href = "productDetails"
  })
 })
  </script>

<script>
  function updateImageList(input){
    const maxImages = 4;
    const fileList = input.files;
    const imageList = document.getElementById('image-list')
  
    if (fileList.length > maxImages) {
alert(`You can only upload ${maxImages} images.`);
input.value = ''; 
document.querySelector('.form-control.file-upload-default').value = '';
return;
}

  for(i=0;i<fileList.length;i++){
    const listItem = document.createElement('li')
    listItem.textContent = fileList[i].name;
    imageList.appendChild(listItem)
  }
  }
 
// ... append other form fields to formData ...
function handleFileSelect(event) {
const files = event.target.files;
for (let i = 0; i < files.length; i++) {
formData.append('images', files[i]);
}
}
const fileInput = document.querySelector('input[name="images"]');
fileInput.addEventListener('change', handleFileSelect);
form.addEventListener('submit', async (event) => {
event.preventDefault();
// Perform form submission with fetch or other AJAX methods
try {
const response = await fetch('/productAdd/addProduct', {
  method: 'POST',
  body: formData,
});
// Handle response as needed
} catch (error) {
console.error(error);
}
});


</script>

    
 

<%- include('./adminFooter.ejs')-%>