<%- include('./adminHeader.ejs')-%>


<div class="col-12 grid-margin stretch-card">
    
 <%- include('./adminSidebar.ejs')-%>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product add</h4>
        <p class="card-description">  </p>
        <p class="card-description">  </p>
        <form class="forms-sample" action="/productAdd/addProduct" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputName1"> Product Name</label>
            <input type="text" class="form-control" id="exampleInputName1" name="ProductName"  value="<%= product ? product.ProductName : '' %>" placeholder="Product Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Product Price</label>
            <input type="number" class="form-control" id="exampleInputEmail3"  value="<%= product ? product.ProductPrice : '' %>" name="ProductPrice" placeholder="$:0.00">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Product Discount</label>
            <input type="number" class="form-control" id="exampleInputPassword4"  value="<%= product ? product.ProductDiscount :'' %>" name="ProductDiscount" placeholder="$:0.00">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Catagory</label>
            <select class="form-control" id="exampleSelectGender" name="Catagory">
              <% Catagories.forEach(category => { %>
                <option value="<%= category.name %>"><%= category.name %></option>
            <% }); %>
            </select>
          </div>
          <div class="form-group" >
            <label>Image upload</label>
            <div class="existing-images row">
              <% if (product && product.images && product.images.length > 0) { %>
                  <% product.images.forEach((image, index) => { %>
                      <div class="col-md-2 mb-3">
                          <div class="existing-image " >
                              <img  style="height: 200px;" src="<%= image ? image : '' %>" alt="Product Image" class="img-fluid" ><br>
                              <input type="checkbox" name="removedImages" value="<%=image%>"> Remove
                          </div>
                      </div>
                  <% }); %>
              <% } %>
          </div>
          
           
                
               

            <div class="input-group col-xs-12" style="width: 50%;" >
              <input  style="background: none;" type="file" id="imageInput" name="images[]" class="file-upload-default" multiple onchange="updateImageList(this)">
        
             <input  type="file" class="form-control"  id="imageInput" placeholder="Upload Image" name="images" class="file-upload-default" multiple onchange="updateImageList(this)">
              <span class="input-group-append">
                
              </span>
            </div> 
          </div>
        
          <div class="form-group">
            <label for="exampleTextarea1">Product Discription</label>
            <textarea class="form-control" id="exampleTextarea1" name="ProductDiscription"  value="<%= product ? product.ProductDiscription : '' %>" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button type="button" class="btn btn-dark  cancelButton">Cancel</button>
        </form>
         
        
        
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const formData = new FormData();
          const imageInput = document.getElementById('imageInput');
          const imageList = document.getElementById('image-list');
  
          imageInput.addEventListener("change", function(event) {
              const files = event.target.files;
              imageList.innerHTML = "";
  
              for (const file of files) {
                  const reader = new FileReader();
  
                  reader.onload = function(event) {
                      const imageUrl = event.target.result;
                      const imgElement = document.createElement("img");
                      imgElement.src = imageUrl;
                      imgElement.className = "preview-image";
                      imageList.appendChild(imgElement);
                  };
  
                  reader.readAsDataURL(file);
              }
          });
  
          const form = document.querySelector('form');
          form.addEventListener('submit', async (event) => {
              event.preventDefault();
              const formData = new FormData(form);
              try {
                  const response = await fetch('/productAdd/addProduct', {
                      method: 'POST',   
                      body: formData,
                  });
  
                  // Handle response as needed
              } catch (error) {
                  console.error(error);
              }
          });
      });
  </script>

  
    
 

<%- include('./adminFooter.ejs')-%>