<%- include('./adminHeader.ejs')-%>


<div class="col-12 grid-margin stretch-card">
    
 <%- include('./adminSidebar.ejs')-%>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product add</h4>
        <p class="card-description">  </p>
        <p class="card-description">  </p>
        <form class="forms-sample" action="/productAdd/addProduct" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputName1"> Product Name</label>
            <input type="text" class="form-control" id="exampleInputName1" name="ProductName" placeholder="Product Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Product Price</label>
            <input type="number" class="form-control" id="exampleInputEmail3" name="ProductPrice" placeholder="$:0.00">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Product Discount</label>
            <input type="number" class="form-control" id="exampleInputPassword4" name="ProductDiscount" placeholder="$:0.00">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Catagory</label>
            <select class="form-control" id="exampleSelectGender" name="Catagory">
              <% Catagories.forEach(category => { %>
                <option value="<%= category.name %>"><%= category.name %></option>
            <% }); %>
            </select>
          </div>
          <div class="form-group" >
            <label>Image upload</label>
            
            
            
                <ul id="image-list"></ul>     
            <div class="input-group col-xs-12" style="width: 50%;" >
              <input  style="background: none;" type="file"  name="images[]" class="file-upload-default" multiple onchange="updateImageList(this)">
        
             <input  type="file" class="form-control"  placeholder="Upload Image" name="images" class="file-upload-default" multiple onchange="updateImageList(this)">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div> 
          </div>
        
          <div class="form-group">
            <label for="exampleTextarea1">Product Discription</label>
            <textarea class="form-control" id="exampleTextarea1" name="ProductDiscription" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
    <script>
      function updateImageList(input){
        const maxImages = 4;
        const fileList = input.files;
        const imageList = document.getElementById('image-list')
      
        if (fileList.length > maxImages) {
    alert(`You can only upload ${maxImages} images.`);
    input.value = ''; 
    document.querySelector('.form-control.file-upload-default').value = '';
    return;
  }
  
      for(i=0;i<fileList.length;i++){
        const listItem = document.createElement('li')
        listItem.textContent = fileList[i].name;
        imageList.appendChild(listItem)
      }
      }

      const productNameValue = document.getElementById('exampleInputName1').value;
const productPriceValue = document.getElementById('exampleInputEmail3').value;
const productDiscountValue = document.getElementById('exampleInputPassword4').value;
// ... other form fields ...

const formData = new FormData();
formData.append('ProductName', productNameValue);
formData.append('ProductPrice', productPriceValue);
formData.append('ProductDiscount', productDiscountValue);
// ... append other form fields to formData ...

    </script>
 

<%- include('./adminFooter.ejs')-%>