<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheets/login.css">
    <title>signin-signup</title>
</head>

<body>
    <div class="container">
        <div class="signin-signup">
            <form action="/signin" method="post">
                <h2 class="title">Sign up</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <% if (errors.Fname) { %>
                        <input type="text" placeholder="<%= errors.Fname %>" name="Fname" class="error">
                      <% }else{%>
                    <input type="text" placeholder="Username" name="Fname">
                    <%} %>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <% if (errors.Email) { %>
                        <input type="text" placeholder="<%= errors.Email %>" name="Email" class="error">
                      <% }else{%>
                        <input type="text" placeholder="Email" name="Email">
                    <%} %>
                    
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-phone"></i>
                    <% if (errors.PhoneNumber) { %>
                        <input type="text" placeholder="<%= errors.PhoneNumber %>"  name="PhoneNumber" class="error">
                      <% }else{%>
                        <input type="text" placeholder="Phone Number"  name="PhoneNumber">
                    <%} %>
                    
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <% if (errors.Password) { %>
                        <input type="password" placeholder="<%= errors.Password %>" name="Password" class="error">
                      <% }else{%>
                        <input type="password" placeholder="Password" name="Password">
                    <%} %>
                    
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <% if (errors.Cpassword) { %>
                        <input type="password" placeholder="<%= errors.Cpassword %>"   name="Cpassword" class="error">
                      <% }else{%>
                        <input type="password" placeholder=" Conform Password"   name="Cpassword">
                    <%} %>
                   
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <% if (errors && errors.enteredReferalCode) { %>
                        <input type="text" placeholder="<%= errors.enteredReferalCode %>" name="enteredReferalCode" class="error">
                      <% }else{%>
                        <input type="text" placeholder="REFERAL CODE" name="enteredReferalCode">
                    <%} %>
                </div>
                <input type="submit" value="Sign up" class="btn">
                <p>Already have an account? <a href="/login" class="account-text" id="sign-in-link">Sign in</a></p>
                <h2><a href="/">Home</a></h2>
            </form>
        </div>
    </div>

    <style>
       .input-field input.error::placeholder {
    color: red; /* Set the placeholder text color to red */
    font-size: 14px;  /* Add any other styles you want for the error state */
}

    </style>
</body>

</html>