<%- include('./adminHeader.ejs')-%>







<div class="col-lg-12 grid-margin stretch-card">
    <%- include('./adminSidebar.ejs')-%>
    <div class="card">
       
      <div class="card-body">
        <h4 class="card-title">User</h4>
       
       
<div class="container-scroller" >




      <form  id="searchForm" class="nav-link d-flex" role="search">
          <div class="input-group">
              <input name="searchQuery" id="searchInput"  type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-sm btn-primary" type="button" id="searchButton">Search</button>
              </div>
          </div>
      </form>
      <div id="searchResults"></div>
 
</div>







        <div class="table-responsive">
          <table class="table table-dark">
            <thead>
              <tr>
                <th> # </th>
                <th> First name </th>
                <th> Email </th>
                <th> PhoneNumber </th>
                <th> User Status </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
                <th>  </th>
            
              </tr>
            </thead>
            <tbody id="#list" >
                <% Users.forEach((user, index) => { %>
                  
                    <tr class="user-row">
                      <td id="displayedIndex"> <%= index + 1 %> </td>
                      <td id="name"> <%= user.Fname %> </td>
                      <td id="email"> <%= user.Email %> </td>
                      <td> <%= user.PhoneNumber %> </td>
                      <td>
                        <% if (user.userStatus === 'active') { %>
                            <form action="/userDetails/user/block/<%= user._id %>" method="POST">
                                <button type="submit" style="color: rgba(245, 37, 37, 1); background: none; border: none;">Block</button>
                            </form>
                        <% } else { %>
                            <form action="/userDetails/user/unblock/<%= user._id %>" method="POST">
                                <button type="submit" class="edit-btn" style="color:rgba(107, 235, 164, 1); background: none; border: none;">Active</button>
                            </form>
                        <% } %>
 
                <td><a href="/userDetails/edit/<%= user._id %>" style="color:rgba(107, 235, 164, 1); background: none; border: none;">Edit</a>      
                    </td>                  
                    <td>
                        <form action="/userDetails/delete/<%= user._id %>" method="POST" style="display: inline;">
                           <button type="submit"style="color: rgba(245, 37, 37, 1); background: none; border: none;" onclick="return confirmDelete('<%= user._id %>', '<%= user.Fname %>')">Delete</button>
                        </form>
                    </td>
                    </tr>
                 
                  <% }); %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    function confirmDelete(userId, userName) {
     
        var result = confirm(`Are you sure you want to delete ${userName}?`);
        return result;
    }
</script>




  <script>
    document.addEventListener("DOMContentLoaded", () => {

        // Select the search input field
        const productSearchInput = document.getElementById('searchInput');

        // Select all product rows
        const productRows = document.querySelectorAll('.user-row');

        productSearchInput.addEventListener('input', () => {
            const searchTerm = productSearchInput.value.toLowerCase();

            // Loop through all product rows and hide those that don't match the search term
            productRows.forEach((row,index) => {
                const productName = row.querySelector('#name').textContent.toLowerCase();
                const productCategory = row.querySelector('#email').textContent.toLowerCase();

                if (
                    productName.includes(searchTerm) ||
                    productCategory.includes(searchTerm)
                ) {
                    row.style.display = 'table-row';
                    const displayedIndex = index + 1;
                    row.querySelector('#displayedIndex').textContent = displayedIndex;
                } else {
                    row.style.display = 'none';
                }
            });
        });

    })
    </script>
    
    
    
    










<%- include('./adminFooter.ejs')-%>