<%- include('indexHeader.ejs')  %>
<style>
    .card-body::-webkit-scrollbar {
width: 0;  /* Remove scrollbar space */
background: transparent;  /* Optional: just make scrollbar invisible */
}

.card-body table th{
color: aliceblue;
}


.card-body table td {

color: aliceblue;

}
</style>

    <div class="page-wrapper">
        <%- include('./indexNavbar2.ejs')-%>
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active " id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Offers</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link"  href="./orderDetails" role="tab" aria-controls="tab-orders" >Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link " id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Wallet</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
                                          <form action="/userProfile/signout" method="get">
                                              <button type="submit" class="nav-link" style="background: none;  border: none;">Sign Out</button>
                                            </form>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
                              
	                			<div class="tab-content">
								    

								   

                                      
                                   
                                   
                                   
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	
                          

                                        <div class="col-md-6 grid-margin stretch-card">
                                            <% if(activeCoupons !==null && activeCoupons !== undefined){%>
                                                <% activeCoupons.forEach((coupon)=>{%>
                                            <div class="card">
                                              <div class="card-body" style=" background-color: rgba(147, 145, 145, 1); border-radius: 10px;">
                                                <div class="d-flex flex-row justify-content-between">
                                                  <h4 style="color: rgba(241, 241, 241, 1); margin-top: 4%; margin-left: 3%; " class="card-title mb-1"><%= coupon.couponName %></h4> 
                                              
                                                </div>
                                                <p style="color: rgba(241, 241, 241, 1); margin-top: 1%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspcouponCode: <%= coupon.couponCode %></p>
                                                <p style="color: rgba(241, 241, 241, 1); margin-top: 1%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp validity:<%= coupon.ExpireDate.toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'medium' }) %></p>
                                                <p style="color: rgba(241, 241, 241, 1); margin-top: 1%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp purchase more than:₹ <%= coupon.Creteria%></p>
                                                <p style="color: rgba(241, 241, 241, 1); margin-top: 1%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Discount Amount:₹ <%= coupon.discountAmount%></p>
                                              
                                                <div class="row">
                                                  <div class="col-12">
                                                    <div class="preview-list">
                                                    <!---->
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <%})%>
                                            <%}%>
                                          </div>
                       


								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    

                                     
            <div class="row">
             
                <div class="col-md-5 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body" style=" background-color: rgba(147, 145, 145, 1); border-radius: 10px;">
                      <div class="d-flex flex-row justify-content-between">
                        <h4 style="color: rgba(241, 241, 241, 1); margin-top: 4%; margin-left: 3%; " class="card-title mb-1">Lexxive </h4> 
                    
                      </div>
                      <p style="color: rgba(241, 241, 241, 1); margin-top: 1%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWallet</p>
                      <p style="color: rgba(241, 241, 241, 1); margin-top: -2%;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$:<%=wallet%></p>
                      <div class="row">
                        <div class="col-12">
                          <div class="preview-list">
                            <!---->
                           
                            
                              
                                   
                         
              
                           <!---->
  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
     

                <div class="col-md-7 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body" style="background-color: rgba(147, 145, 145, 1); border-radius: 10px; overflow: auto; max-height: 300px;">
                        <div class="d-flex flex-row justify-content-between">
                          <h4 style="color: rgba(241, 241, 241, 1); margin-top: 4%; margin-left: 3%;" class="card-title mb-1">Transaction</h4>
                        </div>
 

                                            
                                                    
                                                        <table class="table" style="margin-left: 4%;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Amount</th>
                                                                    <th>Status</th>
                                                                    <th>Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% for (const transaction of walletTransactions) { %>
                                                                <tr>
                                                                  <td>₹<%= transaction.amount %></td>
                                                                  <td><%= transaction.status %></td></td>
                                                                  <td><%= new Date(transaction.timestamp).toLocaleString() %></td>  
                                                                </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    
                                          
                                     





  
                        <div class="row">
                          <div class="col-12">
                            <div class="preview-list">
                              <!-- Your transaction details go here -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  



              </div>
             





								    	
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>
                                      
								    	<div class="row" id="addressContainer">
                                            <% if (userdata) { %>
                                                <% userdata.address.forEach((address,index) => { %>
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
                                                    
                                                  
								    				<div class="card-body">
								    					<h3 class="card-title">Address</h3><!-- End .card-title -->
                                                      
                                                                <p>Name:<%= address.Fname %></p>
                                                                <p>Email:<%= address.Email %></p>
                                                                <p>PhoneNumber:<%= address.PhoneNumber %></p>
                                                                <p>Pincode:<%= address.Pincode %></p>
                                                                <p>Address:<%= address.Addresse %></p>
                                                                <p>Place:<%= address.Place %></p>
                                                                <p>state:<%= address.state %></p>
                                                                <p>LandMark:<%= address.LandMark %></p>
                                                                <p>SecondNumber:<%= address.AphoneNumber %></p>
                                                                <p>AddressType:<%= address.AddressType %></p>
                                                      

														<a href="#" class="toggleButton" data-address-index = "<%= index %>" data-address-id="<%= address._id %>">Edit <i class="icon-edit "></i></a>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
                                            <% }); %>
                                            <% } else { %>
                                                <p>Address not found</p>
                                            <% } %>
								    	</div><!-- End .row -->

                                        <!---->
                                             
								    	<div class="row edit-address" style="display: none;">
								    		<div class="col-lg-8">
								    			<div class="card card-dashboard">
                                                    
                                                  
								    				<div class="card-body">
								    					<h3 class="card-title">Edit</h3><!-- End .card-title -->
                                                        <form action="/updateAddress" method="post">

                                                            <label>Name </label>
                                                        <input type="text" class="form-control" name="name" value="">
                                                        <input type="hidden" name="addressIndex" value="">

                                                        <small class="form-text"></small>
                                          
                                                        <label>Email address </label>
                                                        <input type="email" class="form-control" name="email" value="">
            
                                                        <label>Phone Number</label>
                                                        <input type="text" class="form-control" name="phoneNumber" value="">
                                                    
                                                         <label>Pincode</label>
                                                         <input type="text" class="form-control" name="pincode" value="">

                                                         <label>Address</label>
                                                         <input type="text" class="form-control" name="address" value="">
                                                         
                                                         <label>Place</label>
                                                         <input type="text" class="form-control" name="place" value="">
                                                         
                                                         <label>State</label>
                                                         <input type="text" class="form-control" name="state" value="">
                                                         
                                                         <label>LandMark</label>
                                                         <input type="text" class="form-control" name="landmark" value="">
                                                         
                                                         <label>SecondNumber</label>
                                                         <input type="text" class="form-control" name="secondNumber" value="">
            
                                            <label>Address type</label><br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"  name="editAddressType"  id="inlineRadio1" value="Home" style="background-color: #c96 !important; border-color: #c96 !important;" required>
                                                <label class="form-check-label" for="inlineRadio1">Home</label>
                                              </div>
                                              <div class="form-check form-check-inline">
                                                <input   class="form-check-input" type="radio"name="editAddressType"  id="inlineRadio2" value="Work" style="background-color: #c96 !important; border-color: #c96 !important;" required>
                                                <label class="form-check-label" for="inlineRadio2">Work(Delevery between 10 AM -5 PM)</label>
                                              </div>
                                              <br>

                                                            <button type="submit" class="btn btn-outline-primary-2">
                                                            <span>SAVE</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>

                                                        <button type="button" class="btn btn-outline-primary-2  toggleButton">
                                                            <span>CANCEL</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>
                                                    </form>
														
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
                                         
								    	</div><!-- End .row -->
                                        <!---->
                                                   
                                      
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                       <p>REFERAL CODE: <%= user.referalCode %></p>
								    	<form action="#" id="userData">
			                					<label>Name </label>
		            						<input type="text" class="form-control" value="<%= user.Fname %>" readonly>
		            						<small class="form-text"></small>

		                					<label>Email address </label>
		        							<input type="email" class="form-control" value="<%= user.Email %>" readonly>

		            						<label>Phone Number</label>
		            						<input type="text" class="form-control" value="<%= user.PhoneNumber %>" readonly>
                                                 <% if(hideButton === 0){%>
		            							<button type="submit" class="btn btn-outline-primary-2" id="showAddressForm">
			                					<span>ADD ADDRESS</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
                                            <%}%>
			                			</form>

                                        <div id="addressForm" style="display: none;">
                                            <form action="/userProfile/address" method="post">
                                                <label>Name </label>
                                            <input type="text" class="form-control" name="Fname" value="<%= user.Fname %>">
                                            <small class="form-text"></small>
    
                                            <label>Email address </label>
                                            <input type="email" class="form-control" name="Email" value="<%= user.Email %>" >
    
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control" name="PhoneNumber" value="<%= user.PhoneNumber %>">
    
                                            <label>Pincode</label>
                                            <input type="number" class="form-control" name="Pincode" >
                                            <% if (ValidationErr && ValidationErr.Pincode) { %>
                                                <p style="color: red;"><%= ValidationErr.Pincode%></p>
                                            <% } %>

                                            <label>Address</label>
                                            <input type="text" class="form-control" name="Address" >
                                            <% if (ValidationErr && ValidationErr.Address) { %>
                                                <p style="color: red;"><%= ValidationErr.Address%></p>
                                            <% } %>
                                        
                                           
                                           <label>Place</label>
                                            <input type="text" class="form-control" name="Place" >
                                            <% if (ValidationErr && ValidationErr.Place) { %>
                                                <p style="color: red;"><%= ValidationErr.Place%></p>
                                            <% } %>
                                        
                                            <label>State</label>
                                            <input type="text" class="form-control" name="state" >
                                            <% if (ValidationErr && ValidationErr.state) { %>
                                                <p style="color: red;"><%= ValidationErr.state%></p>
                                            <% } %>
                                        
                                            
                                           <label>LandMark</label>
                                           <input type="text" class="form-control" name="LandMark" >
                                           <% if (ValidationErr && ValidationErr.LandMark) { %>
                                            <p style="color: red;"><%= ValidationErr.LandMark%></p>
                                        <% } %>
                                    
                                           
                                           <label>Second PhoneNumber</label>
                                            <input type="text" class="form-control" name="AphoneNumber" >
                                            <% if (ValidationErr &&ValidationErr.AphoneNumber) { %>
                                                <p style="color: red;"><%= ValidationErr.AphoneNumber%></p>
                                            <% } %>
                                        
                                            <label>Address type</label><br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"  name="AddressType"  id="inlineRadio1" value="Home" style="background-color: #c96 !important; border-color: #c96 !important;" required>
                                                <label class="form-check-label" for="inlineRadio1">Home</label>
                                              </div>
                                              <div class="form-check form-check-inline">
                                                <input   class="form-check-input" type="radio"name="AddressType"  id="inlineRadio2" value="Work" style="background-color: #c96 !important; border-color: #c96 !important;" required>
                                                <label class="form-check-label" for="inlineRadio2">Work(Delevery between 10 AM -5 PM)</label>
                                              </div>
                                            <br>
    
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                <span>Save</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <button type="button" style="height: 38.5px;" class="btn btn-outline-primary-2" id="cancelButton">
                                                <span >Cancel</span>
                                            
                                            </button>
                                        </form>

                                        </div>
                                         
                                    

								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
         <%- include('./indexFooter.ejs')  %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
<%- include('./navBarMobile.ejs') %>
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="//code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="http://localhost:3000/assets/js/bootstrap.bundle.min.js"></script>
    <script src="http://localhost:3000/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="http://localhost:3000/assets/js/jquery.waypoints.min.js"></script>
    <script src="http://localhost:3000/assets/js/superfish.min.js"></script>
    <script src="http://localhost:3000/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="http://localhost:3000/assets/js/main.js"></script>
   <!-- Make sure jQuery is included before this script -->
 
   <script>
    $(document).ready(function(){
        $("#showAddressForm").click(function(){
           

            $("#userData").toggle();
            $("#addressForm").toggle();

            
        });
    })
    $('#cancelButton').click(function(){
     
        $("#addressForm").hide()
        $("#userData").toggle();
    })
</script>
   


  <script>
   $(document).ready(function(){
    // Use event delegation to handle click on dynamically added elements
    $(document).on('click', '.toggleButton', function(e){
        var index = $(this).data('address-index');
        var addressId = $(this).data('address-id');
        $('#addressContainer').toggle();
        $('.edit-address').toggle(200);

        $.ajax({
            url: '/addressHandler',
            method: 'GET',
            data: { index: index },
            success: function(data){
                if (data.success) {
                    // Populate the edit form with the received data
                    $('.edit-address input[name="name"]').val(data.address.Fname);
                    $('.edit-address input[name="email"]').val(data.address.Email);
                    $('.edit-address input[name="phoneNumber"]').val(data.address.PhoneNumber);
                    $('.edit-address input[name="pincode"]').val(data.address.Pincode);
                    $('.edit-address input[name="address"]').val(data.address.Address);
                    $('.edit-address input[name="place"]').val(data.address.Place);
                    $('.edit-address input[name="state"]').val(data.address.state);
                    $('.edit-address input[name="landmark"]').val(data.address.LandMark);
                    $('.edit-address input[name="secondNumber"]').val(data.address.AphoneNumber);
                    $('.edit-address input[name="addressIndex"]').val(data.index);
                    $('input[name="editAddressType"][value="' + data.address.AddressType + '"]').prop('checked', true);
                } else {
                    console.error('Error fetching address data from the server');
                }
            },
            error: function() {
                console.error('Error connecting to the server');
            }
        });
    });

    $(document).on('click', '.edit-address .toggleButton', (e)=>{
        $('.edit-address #addressContainer').toggle();
        $('.edit-address').toggle();
    });
});


</script>





</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>