<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>DISEE - Invoice HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/invoice.css">
</head>
<body>

<!-- Invoice 1 start -->
<div class="invoice-1 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <% if(order !== null && order !==undefined ){%>
                <div class="invoice-inner clearfix">
                    <div class="invoice-info clearfix" id="invoice_wrapper">
                        <div class="invoice-headar">
                            <div class="row g-0">
                                <div class="col-sm-6">
                                    <div class="invoice-logo">
                                        <!-- logo started -->
                                        <div class="logo">
                                         <div class="h2">LEXXIVE</div>
                                        </div>
                                        <!-- logo ended -->
                                    </div>
                                </div>
                                <div class="col-sm-6 invoice-id">
                                    <div class="info">
                                        <h1 class="color-white inv-header-1">Invoice</h1>
                                        <p class="color-white mb-1">Order Id: <span><%= order._id %></span></p>
                                        <p class="color-white mb-0">Date <span><%= order.orderDate.toLocaleDateString(); %></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-top">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <h4 class="inv-title-1">Invoice To</h4>
                                        <h2 class="name mb-10"><%= user.Fname %></h2>
                                        <p class="invo-addr-1">
                                            
                                            <%=order.address.Email %>
                                             <br/>
                                             No:<%=order.address.PhoneNumber %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <div class="invoice-number-inner">
                                            <h4 class="inv-title-1">Invoice From</h4>
                                            <h2 class="name mb-10">Lexxive</h2>
                                            <p class="invo-addr-1">
                                    
                                                aswanthc26@gmail.com<br/>
                                            
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="invoice-center">
                            <div class="table-responsive">
                                <table class="table mb-0 table-striped invoice-table">  
                                    <thead class="bg-active">
                                    <tr class="tr">
                                        <th>No.</th>
                                        <th class="pl0 text-start">ProductName</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-end">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <% order.productDetails.forEach((product,index)=>{%>
                                    <tr class="tr">
                                        <td>
                                            <div class="item-desc-1">
                                                <span><%= index+1 %></span>
                                            </div>
                                        </td>
                                        <td class="pl0"><%=product.productId.ProductName %></td>
                                        <td class="text-center">₹<%=product.productId.ProductPrice %></td>
                                        <td class="text-center"><%= product.purchasedCount %></td>
                                        <td class="text-end">₹<%= product.productId.ProductPrice * product.purchasedCount %></td>
                                    </tr>
                                    <%})%>
                                   
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">SubTotal</td>
                                        <td class="text-end">₹<%= order.Total - order.shippingPrice %></td>
                                    </tr>
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center">Shipping Charge</td>
                                        <td class="text-end">₹<%= order.shippingPrice %></td>
                                    </tr>
                                    <tr class="tr2">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center f-w-600 active-color">Grand Total</td>
                                        <td class="f-w-600 text-end active-color">₹<%= order.Total %></td>
                                    </tr>

                                   
                                  
                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       
                        <div class="invoice-bottom">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-sm-7">
                                    <div class="mb-30 dear-client">
                                        <h3 class="inv-title-1">Address</h3>
                                        <p>Name: <%=order.address.Fname %>&nbsp
                                            Email: <%=order.address.Email %><br>
                                            phone Number:<%=order.address.PhoneNumber %> &nbsp
                                            Address: <%=order.address.Address %><br>
                                            Place: <%=order.address.Place %>&nbsp
                                            state: <%=order.address.state %> <br>
                                            LandMark: <%=order.address.LandMark %> &nbsp 
                                            secondNumber: <%=order.address.AphoneNumber %> <br>
                                            AddressType: <%= order.address.AddressType %> &nbsp								
                                        </p>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-5">
                                    <div class="mb-30 payment-method">
                                        <h3 class="inv-title-1">Payment</h3>
                                        <ul class="payment-method-list-1 text-14">
                                            <li><strong>Method:</strong> <%= order.paymentMethod %></li>
                                            <li><strong>Received From:</strong> <%= user.Fname %></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-contact clearfix">
                            <div class="row g-0">
                                <div class="col-lg-9 col-md-11 col-sm-12">
                                    <div class="contact-info">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-btn-section clearfix d-print-none">
                        <a href="/orderDetails" class="btn btn-lg btn-print">
                            <i class="fa fa-print"></i> Back
                        </a>
                        <a href="#" onclick="invoiceDownload()" class="btn btn-lg btn-print">
                            <i class="fa fa-print"></i> Download
                        </a>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
<!-- Invoice 1 end -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jspdf.min.js"></script>
<script src="assets/js/html2canvas.js"></script>
<script src="assets/js/app.js"></script>

<script>
    function invoiceDownload(){
        window.print()
    }
</script>
</body>
</html>
