<%- include('./layout/header.ejs') %>
    <div class="page-wrapper">
        <%- include('./layout/navBar.ejs')-%>
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form action="/coupon" method="POST">
        						<input type="text" class="form-control" name="EnteredCoupon" required id="checkout-discount-input">
                                <% if(discountError !== null && discountError !== undefined){%>
                                    <label for="checkout-discount-input" class="text-truncate"><span><%= discountError %></span></label>
                                    <%}else{%>
            					<label for="checkout-discount-input" class="text-truncate couponfield">Have a coupon? <span>Click here to enter your code</span></label>
                                <%} %>
            				</form>
            			</div><!-- End .checkout-discount -->
            			
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                 
                                        
	            					 <!-------------------------------------
                          --------------------------------------------------------
                        ------------------------------------------------------------
                    ---------------------------------------------------------------------
                ------------------------------------------------------------------------------------->
                <form action="/order/order" method="post" id="orderForm" onsubmit="makePayment(event)">
                <% if(address !== null && address !==undefined && address.length !==0){%>
                    <% address.address.forEach((address,index)=>{%>
                             
                                    <div class="summary summary-cart">
                                  
                                       
                                    
                                        <table class="table table-summary">
                                            <tbody>
                                            
                                                <tr class="summary-shipping-row">
                                                    <td >
                                                        
                                                        <div class="custom-control custom-radio">
                                                         
                                                            <input type="radio" id="<%= 'address-radio-' + address._id %>"  name="selectedAddress" class="custom-control-input" onclick="selectAddress('<%= address._id %>','<%= address.Fname %>')"  >
                                                    
                                                            <label class="custom-control-label" for="<%= 'address-radio-' + address._id %>">Address</label>
                                                       
                                                            <p>Name: <%= address.Fname %></p>
                                                            <p>Email: <%= address.Email %></p>
                                                            <p>Phone Number: <%= address.PhoneNumber %></p>
                                                            <p>Pincode: <%= address.Pincode %></p>
                                                            <p>Place: <%= address.Place %></p>
                                                          
                                                            <p>LandMark: <%= address.LandMark %></p>
                                                            <p>Second Number: <%= address.AphoneNumber %></p>
                                                            <p>Type: <%= address.AddressType %></p>

                                                        </div><!-- End .custom-control -->
                                                    </td>
                                                    <td ></td>
                                                </tr><!-- End .summary-shipping-row -->
    
    
                                            </tbody>
                                        </table><!-- End .table table-summary -->
    
                                      
                                    </div><!-- End .summary -->

                               
  
                                    <%})%>
                                             
                                    <%} %>

                                   

    
                                            

	        							<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
											<!--<label class="custom-control-label" for="checkout-create-acc">Create an account?</label> -->
										</div><!-- End .custom-checkbox -->


	            
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                                        <% let totalProductPrice = 0; %>
                                      <% if(products !==null && products !==undefined){%>
                                        
		                				<table class="table table-summary" >
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody  id="table-body">
                                                <% products.forEach((product,index)=>{%>
                                                  
		                						<tr>
		                							<td><a href="#"><%= product.name %></a></td>
		                							<td>₹<%= individualTotalArray[index] %></td>
		                						</tr>
                                                <% product.price; %>
                                                <%})  %>
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>₹<%= totalPrice %></td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>₹<%= shippingPrice %></td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>₹<%= allTotal %></td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
                                            <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-payment="Cash on Delivery" onclick="selectPaymentMethod('Wallet')" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
										                    Wallet
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-1" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">you can use a wallet to purchase a product
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										 
										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-payment="Cash on Delivery" onclick="selectPaymentMethod('Cash on Delivery')" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">only pay when the product reached in you home. product reach within 7 days
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button"   data-payment="Online Payment" onclick="selectPaymentMethod('Online Payment')" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    online payment <small class="float-right paypal-link">What is RazorPay?</small>
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
									                 pay the product through online using Razorpay
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										 
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
                                
                                        <%}else{%> <p>no address found</p><%} %>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
                            <input type="hidden" id="selectedAddressId" name="selectedAddressId" value="">
                            <input type="hidden" id="selectedAddressName" name="selectedAddressName" value="">
                            <input type="hidden" id="selectedPaymentMethod" name="selectedPaymentMethod" value="">
                            <input type="hidden" name="discountAmount" value="<%= discountAmount %>">
                    </form>



                        
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
       
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

   <%- include('./layout/navBarMobile.ejs') %>

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.14.0/dist/sweetalert2.all.min.js"></script>  

   <script>
    function refreshTableBody() {
        const tableBody = document.getElementById('table-body');
        const discountAmountInput = document.getElementsByName('discountAmount')[0];
        const discountAmount = discountAmountInput.value;
        fetch(`/api/getUpdatedData?discountAmount=${discountAmount}`)
            .then(response => response.json())
            .then(updatedData => {
                renderTableBody(tableBody, updatedData); // Fix the typo here
            })
            .catch(error => {
                console.error('Error fetching data', error);
            });
    }

    function renderTableBody(tableBody, data) {
        tableBody.innerHTML = '';

        data.products.forEach((product, index) => {
            const newRow = document.createElement('tr');
            const productNameCell = document.createElement('td');
            productNameCell.innerHTML = `<a href="#">${product.name}</a>`;
            newRow.appendChild(productNameCell);

            const totalCell = document.createElement('td');
            totalCell.innerHTML = `₹${data.individualTotalArray[index]}`;
            newRow.appendChild(totalCell);
            tableBody.appendChild(newRow);
        });

        const subtotalRow = document.createElement('tr');
        subtotalRow.innerHTML = `<td>Subtotal:</td><td>₹${data.totalPrice}</td>`;
        tableBody.appendChild(subtotalRow);

        const shippingRow = document.createElement('tr');
        shippingRow.innerHTML = `<td>Shipping:</td><td>₹${data.shippingPrice}</td>`;
        tableBody.appendChild(shippingRow);

        const totalRow = document.createElement('tr');
        totalRow.innerHTML = `<td>Total:</td><td>₹${data.allTotal}</td>`;
        tableBody.appendChild(totalRow);
        
        // Access other data
        const totalPrice = data.totalPrice;
        const shippingPrice = data.shippingPrice;
        const allTotal = data.allTotal;

        // Use these variables as needed
    }

    // Refresh the table body every second (1000 milliseconds)
    setInterval(refreshTableBody, 1000);
</script>


    <script>
  function selectPaymentMethod(paymentMethod) {
    document.getElementById('selectedPaymentMethod').value = paymentMethod;
    console.log('Selected Payment Method:', paymentMethod);
  }

 
     
function setDefaultAddress(){
    var firstAddressRadio = document.querySelector('[name="selectedAddress"]')
    if(firstAddressRadio){
        firstAddressRadio.checked = true

        var clickEvent = new Event('click');
        firstAddressRadio.dispatchEvent(clickEvent);
        selectAddress(firstAddressId);
    }
}


function selectAddress(addressId, fname){
    document.getElementById('selectedAddressId').value = addressId;
    document.getElementById('selectedAddressName').value = fname;
}

document.addEventListener('DOMContentLoaded', function () {
    setDefaultAddress();
  });




        function makePayment(event) {
  event.preventDefault();
  
  const selectedAddressId = document.getElementById('selectedAddressId').value;
  const paymentMethod = document.getElementById('selectedPaymentMethod').value;
  const discountAmount = document.getElementsByName('discountAmount')[0].value;
  if(!selectedAddressId){
    Swal.fire({
  title: "Please Select Any Address",
  showClass: {
    popup: `
      animate__animated
      animate__fadeInUp
      animate__faster
    `
  },
  hideClass: {
    popup: `
      animate__animated
      animate__fadeOutDown
      animate__faster
    `
  }
});
  }

  if(!paymentMethod){
    Swal.fire({
  title: "Please chose any payment method",
  showClass: {
    popup: `
      animate__animated
      animate__fadeInUp
      animate__faster
    `
  },
  hideClass: {
    popup: `
      animate__animated
      animate__fadeOutDown
      animate__faster
    `
  }
});
  }

  $.ajax({
    type: 'POST',
    url: '/order/order',
    data: {
      selectedAddressId: selectedAddressId,
      paymentMethod: paymentMethod,
      discountAmount: discountAmount,
    },
    success: function (response) {
      console.log('response', response);
      if (response.codSucess) {
        location.href = '/orderSucess';
      }else if(response.walletSucess){
        location.href = '/orderSucess';
      }
      
      else {
        razorpayPayment(response);
      }
    },
    error: function (error) {
      console.error('AJAX Error:', error);
     
    },
  });
}


        function razorpayPayment(response){
  console.log('Razorpay Order Response:', response);
  const order = response.data
  console.log('Order ID:', order.id);
  console.log('Order Amount:', order.amount);
  console.log('Converted Amount:', order.amount * 100);

            var options = {
    "key": "rzp_test_SoEmBjOco04Lhe", // Enter the Key ID generated from the Dashboard
    "amount": order.amount*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Lexxive", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       

        verifyPayment(response,order)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com", 
        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
rzp1.open();
        }
function verifyPayment(payment,order){

     $.ajax({
        method: 'POST',
        url: '/order/verifyPayment',
        data:{
            payment,
            order, 
        },
        success:(response)=>{
            if(response.status){
                location.href = '/orderSucess';
            }else{
                alert('payment failed')
            }
        }
        
     })
}
    </script>
    
    <script>
        if(<%=discountSuccess%>){

           var couponField = document.getElementsByClassName('couponfield')[0]
           couponField.innerHTML = '<span>Coupon added</span>';

            const Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
          }
        });
        Toast.fire({
          icon: "success",
          title: "coupon added"
        });
        }
    </script>

<%- include('./layout/footer.ejs') %>