
<%- include('./layout/header.ejs') %>
<link rel="stylesheet" href="stylesheets/ui-design.css">
<link rel="stylesheet" href="assets/css/pagination.css">
<body>
    <div class="page-wrapper"> 
        <%- include('./layout/navBar.ejs')-%>
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container-fluid">
        			<h1 class="page-title"><span></span></h1>
        		</div><!-- End .container-fluid -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item" ><a href="/productList">Shop</a></li>
                    </ol>
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container-fluid">
        			<div class="toolbox">
        				<div class="toolbox-left">
                            <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
        				</div><!-- End .toolbox-left -->

                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                Showing <span><%= currentPage %>  of <%= totalPages %></span> Products
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

        				<div class="toolbox-right">
        					<div class="toolbox-sort">
        						
        						
        					</div><!-- End .toolbox-sort -->
        				</div><!-- End .toolbox-right -->
        			</div><!-- End .toolbox -->




                    <div class="products">
                        <div id="product-list" class="row">
                            <% if (products && products.length > 0) { %>
                            <% products.forEach(product => { %>
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                                <div class="product">
                                    <figure class="product-media">
                                        <% if(product.ProductCount === 0){%>
                                            <span class="product-label label-out">Out of stock</span>
                                            <%}%>
                                        <!-- <span class="product-label label-new">New</span> -->
                                        <a href="./productView?id=<%= product._id %>">
                                            <img src="<%= product.images[0] %>" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist wishlist btn-expandable" title="Add to wishlist" data-product-id="<%= product._id %>"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action action-icon-top">
                                            <a href="#" class="btn-product btn-cart cart"  data-product-id="<%= product._id %>"><span>add to cart</span></a>
                                          <!--  <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a> -->
                                         <!--  <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a> --> 
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"><%= product.Catagory %></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html"><%= product.ProductName %></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            ₹<%= product.ProductPrice %>
                                        </div><!-- End .product-price -->
                                     
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
          
<% }); %>
                
<% } else { %>
    <p class="text-center text-muted">No products available</p>
<% } %>
                        </div><!-- End .row -->

                     
                    </div><!-- End .products -->
 
                    <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                    <aside class="sidebar-shop sidebar-filter">
                        <div class="sidebar-filter-wrapper">
                            <div class="widget widget-clean">
                                <label><i class="icon-close"></i>Filters</label>
                                <a href="/productList" >Clean All</a>
                            </div><!-- End .widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                        Category
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            <% if(categories && categories>0){%>
                                                <% categories.forEach((category,index)=>{%>
                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input filter-checkbox" id="category-<%=index %>" data-category="<%= category.name %>">
                                                    <label class="custom-control-label" for="category-<%=index %>"><%= category.name%></label>
                                                </div><!-- End .custom-checkbox -->
                                                <span class="item-count"></span>
                                            </div><!-- End .filter-item -->
                                            <%})%>
                                            <%}%>
                                            

                                           

                                            

                                          
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->

                                
                                <!--price range  -->
                                <div class="card" style="margin-left: -30px;">
                                    <h4>Price Range Slider</h4>
                              
                                    <div class="price-content">
                                      <div>
                                        <label>Min</label>
                                        <p id="min-value">₹100</p>
                                      </div>
                              
                                      <div>
                                        <label>Max</label>
                                        <p id="max-value">₹50000</p>
                                      </div>
                                    </div>
                              
                                    <div class="range-slider">
                                      <div class="range-fill"></div>
                              
                                      <input
                                        type="range"
                                        class="min-price"
                                        value="100"
                                        min="100"
                                        max="50000"
                                        step="10"
                                      />
                                      <input
                                        type="range"
                                        class="max-price"
                                        value="250"
                                        min="100"
                                        max="50000"
                                        step="10"
                                      />
                                    </div>
                                  </div>
                                   <!-- price range -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                               
                                

                           

                        

                         
                        </div><!-- End .sidebar-filter-wrapper -->
                    </aside><!-- End .sidebar-filter -->
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->

            <!-- pagination -->
 <div class="pagination mx-auto">
    <span class="pagination__number-indicator"></span>
    <button class="pagination__arrow">
      <span class="pagination__arrow-half"></span>
      <span class="pagination__arrow-half"></span>
    </button>
  
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="?page=<%= i %>" class="pagination__number <%= i === currentPage ? 'pagination__number--active' : '' %>">
        <%= i %>
      </a>
    <% } %>
  
    <button class="pagination__arrow pagination__arrow--right">
      <span class="pagination__arrow-half"></span>
      <span class="pagination__arrow-half"></span>
    </button>
  </div>
  <!-- pagination end -->
        </main><!-- End .main -->
       
    </div><!-- End .page-wrapper -->
    <%- include('./layout/navBarMobile.ejs') %>

   



    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wNumb.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>



  

<script>
    $('.filter-checkbox').on('change', function(){
     var selectedBrands = []
     var selectedCategory = []
     var selectedSize = []
     $('.filter-checkbox:checked').each(function(){
           var brand =  $(this).data('brand')
            var category = $(this).data('category')
            var size = $(this).val()
            if (brand !== null) {
            selectedBrands.push(brand);
        }

        if (category !== null) {
            selectedCategory.push(category);
        }

        if (size !== 'on') {
            selectedSize.push(size);
        }
     })
     
        $.ajax({
            url:'/selectedBrands',
            method:'POST',
            data:{brand:JSON.stringify(selectedBrands),category:JSON.stringify(selectedCategory),size:JSON.stringify(selectedSize)},
            success:function(response){
                updateProductList(response.filteredProducts);
            },
            error: function(error){
                console.log(error);
            }
        })
    })
</script>

<script>
    function updateProductList(products) {
        // Clear existing products
        $('#product-list').empty();

        // Append the new products
        products.forEach(function (product) {
            var productHtml = `
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <div class="product">
                        <figure class="product-media">
                            ${product.ProductCount === 0 ? '<span class="product-label label-out">Out of stock</span>' : ''}
                            <a href="./productView?id=${product._id}">
                                <img src="${product.images[0]}" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">

                                <a href="#" class="btn-product-icon btn-wishlist wishlist btn-expandable" title="Add to wishlist" data-product-id="${ product._id }"><span>add to wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action action-icon-top">

                                <a href="#" class="btn-product btn-cart cart" data-product-id="${product._id}"><span>add to cart</span></a>
                              
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">${product.Catagory}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">${product.ProductName}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                ₹${product.ProductPrice}
                            </div><!-- End .product-price -->
                           
                          
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 -->
            `;

            // Append the product HTML to the product list container
            $('#product-list').append(productHtml);
        });
    }
</script>

<script>
    $(document).ready(function (){
        $('.cart').click(function(e){
            console.log('request reached');
            e.preventDefault();
            const productId = $(this).data('product-id')
            console.log('Product ID:', productId);
            addToCart(productId)
        })
    })

    function addToCart(productId){
        $.ajax({
            type:'POST',
            url:'/addToCart',
            data:{productId:productId},
            success:function(data){
                console.log('data',data);
                if (data.notLoggedIn){
                    console.log('request reached inside not logged in');
                    window.location.href = '/login'
                  }

               else if(data.success){
                        const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "success",
      title: "product Added"
    });

                    }

                    
                    else if(data.productExist){
                        const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "success",
      title: "Already added"
    });
                    }
                    else if(data.outOfStock){
                        const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "error",
      title: "Out of stock"
    }); 
                    }

            }
        })
    }
</script>

    <script>
          $(document).ready(function () {
        $('.wishlist').click(function (e) {
            e.preventDefault(); 

            const productId = $(this).data('product-id');
            addToWishlist(productId);
        });

        function addToWishlist(productId) {
            $.ajax({
                type: 'POST',
                url: '/addToWishlist',
                data: { productId: productId },
                success: function (data) {
                  if (data.notLoggedIn){
                    console.log('request reached inside not logged in');
                    window.location.href = '/login'
                  }
                    else if (data.success){
                        const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "success",
      title: "product Added"
    });
                    }else if(data.productExist){
                        const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "success",
      title: "Already added"
    });
                    }
                },
                error: function (error) {
                    // Handle the error
                    console.error('Error:', error);
                }
            });
        }
    });
    </script>
    <script src="assets/js/pagination.js"></script>
<%- include('./layout/footer.ejs') %>